body {
  background: url("../Assets/images/train\ background\ 5.jpg");
  color: aqua;
  font: bold;
}
.jumbotron {
  background-color: red;
  color: black;
  border: 5px black solid;
  font: 2em Arial, sans-serif;
}
#trainTable {
  color: yellow;
  font: bold;
}
